# A table can be combined using JOINS

# CROSS JOIN
# A cross join is creating a new table which consist of the cartesian product of two table
# this means for each row from the table_1 it wil be combined with eahc row from table_2


# the WHERE has to be used because CROSS JOIN cant be use together with ON

SELECT u.user_id, u.name, o.order_id, o.total_price
FROM users u
CROSS JOIN orders o 
WHERE u.user_id = o.order_id

# INNER JOIN
# when INNER JOIN is called, it will only return rows where there is a match

# when JOIN is called, it is immediately the same as INNER JOIN

SELECT s.name, c.course_name
FROM students s
INNER JOIN course_registrations c ON s.id = c.student_id
ORDER BY s.name ASC

# LEFT JOIN
# LEFT JOIN will include all rows from the left table even there is none in the right
# if there are rows in the right table that did not match to the left, they would not be in the results

SELECT h.name as human_name, p.name as pet_name
FROM humans h
LEFT JOIN pets p ON h.id=p.owner_id
ORDER BY h.name, p.name

# RIGHT JOIN 
# is the same as LEFT JOIN

SELECT t.name as type, p.name as pokemon, t.weakness
FROM pokemon p
RIGHT JOIN pokemon_types t ON t.id = p.type_id
ORDER BY t.name

# FULL JOIN
# it is an OUTER JOIN and does the combination of LEFT and RIGHT JOIN

# MULTI JOIN
# DOING A JOIN ON MORE THAN 1 TABLE!!!


SELECT p.name as player_name, t.name as team_name, c.salary
FROM players p
JOIN teams t ON p.team_id = t.id
# I can actually work wiht t.id onwards after this point after they have been joined together
JOIN contracts c ON p.id = c.player_id
ORDER BY c.salary DESC