# creating a table
# vidoes is the name of the table
CREATE TABLE videos (
    id INTEGER,
    name TEXT,
    created_at DATE,
    published BOOLEAN
);

# rememebr to include ';' at the end of creation

# this allows you to select specific information from the database
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name = 'videos';

# SQL is not case sensitive which means you can write in upper or lower or a mix of both
CREATE TABLE users ();
create table users ();
cReAtE taBlE users ();

# always remmebr to start with a '(' paranthesis bracket after the name of the table and close with a ';' semicolon
# types fo data type available are TEXT, INTEGER, DATE and BOOLEAN

CREATE TABLE cities (
    name TEXT,
    population INTEGER,
    country TEXT,
    is_capital BOOLEAN,
    founded_date DATE
);

# you can create defauly values by including a DEFAULT after the datatype
CREATE TABLE videos (
    id INTEGER,
    name TEXT DEFAULT 'Untitled',
    is_published BOOLEAN DEFAULT False
);

# you can use alter to edit the above creation

# REMEMBER TO USE ALTER AND THE CORERECT NAME FUNCTIONS,
# ALTER TABLE.... {table_name} ADD COLUMN/RENAME COLUMN/DROP COLUMN

CREATE TABLE books (
  id INTEGER,
  title TEXT,
  author TEXT
);

# like adding a column
ALTER TABLE users ADD COLUMN age INTEGER;
# renaming a column
ALTER TABLE users RENAME COLUMN author TO full_author_name
# OR DROPPING A COLUMN
ALTER TABLE users DROP COLUMN name;

# TO DROP A TABLE just write
DROP TABLE table_name

In [ ]:
#