# UPDATE
in addition to reading and adding data to a table we can also update exisitng rows in a table


format is
```sql
UPDATE table_name
SET column = 'value_1'

UPDATE users
SET username = 'anonymous', email = 'unavailable', last_login = CURRENT_TIMESTAMP;

# UPDATE WHERE
you can specifiy which rows to update using a WHERE clause similarly to the SELECT statement

```sql
UPDATE users
SET username = 'anonymous'
WHERE username IS NULL;

# UPDATE RETURNING
this RETURNING clause allows to return the rows that were updated, to see which changes were made
it is used similarly to the SELECT clause


IMPORTANT THING TO TAKE NOTE IS THAT ' refers to string and " refers to tables/column names

```sql
UPDATE bank_accounts
SET status = 'VIP'
WHERE balance>=10000 AND balance<=100000
RETURNING id, balance, status;

UPDATE bank_accounts
SET status = 'VIP'
WHERE balance BETWEEN 10000 AND 100000
RETURNING id, balance, status;

In [ ]:
# UPDATE CONSTRAINTS

# The constraints when creating a table such as UNIQUE, NOT NULL and PRIMARY KEY are also applied onto the UPDATE besides the INSERT-ion of a row