# 1075. Project Employees I

```sql
-- Write your PostgreSQL query statement below
-- I am trying to round to 2dp after calculatign the average years
SELECT p.project_id, ROUND(AVG(e.experience_years),2) as average_years 
FROM project p
JOIN employee e ON p.employee_id = e.employee_id
GROUP BY p.project_id

In [2]:
import pandas as pd

data = [[1, 1], [1, 2], [1, 3], [2, 1], [2, 4]]
project = pd.DataFrame(data, columns=['project_id', 'employee_id']).astype({'project_id':'Int64', 'employee_id':'Int64'})
data = [[1, 'Khaled', 3], [2, 'Ali', 2], [3, 'John', 1], [4, 'Doe', 2]]
employee = pd.DataFrame(data, columns=['employee_id', 'name', 'experience_years']).astype({'employee_id':'Int64', 'name':'object', 'experience_years':'Int64'})

In [39]:
import pandas as pd

def project_employees_i(project: pd.DataFrame, employee: pd.DataFrame) -> pd.DataFrame:

    # create an inner join first
    new_df = employee.merge(project, how='inner', on="employee_id")


    # create a group by with a count
    # rounding to 2dp
    # resettiung index to enusre it remains as a df
    new_df = new_df.groupby(['project_id'])['experience_years'].mean().round(2).reset_index()

    # recreate DF
    new_df = new_df.rename(columns = {"experience_years": "average_years"})

    return new_df

In [40]:
project_employees_i(project, employee)

   project_id  average_years
0           1            2.0
1           2            2.5