# 1141. User Activity for the Past 30 Days I

```sql

-- Write your PostgreSQL query statement below
SELECT activity_date as day, COUNT(DISTINCT(user_id)) as active_users
FROM Activity
GROUP BY activity_date 

-- minus 30days from 2019-07-27 manually
HAVING DATE('2019-06-28') <= activity_date and activity_date <= DATE('2019-07-27')

```sql

-- Write your PostgreSQL query statement below
SELECT activity_date as day, COUNT(DISTINCT(user_id)) as active_users
FROM Activity
GROUP BY activity_date 

-- minus 30days from 2019-07-27 manually
HAVING activity_date BETWEEN DATE('2019-06-28') AND DATE('2019-07-27')

```sql

-- Write your PostgreSQL query statement below
SELECT activity_date as day, COUNT(DISTINCT(user_id)) as active_users
FROM Activity

-- filter than group by
WHERE activity_date BETWEEN DATE('2019-06-28') AND DATE('2019-07-27')
GROUP BY activity_date

In [1]:
import pandas as pd

data = [[1, 1, '2019-07-20', 'open_session'], [1, 1, '2019-07-20', 'scroll_down'], [1, 1, '2019-07-20', 'end_session'], [2, 4, '2019-07-20', 'open_session'], [2, 4, '2019-07-21', 'send_message'], [2, 4, '2019-07-21', 'end_session'], [3, 2, '2019-07-21', 'open_session'], [3, 2, '2019-07-21', 'send_message'], [3, 2, '2019-07-21', 'end_session'], [4, 3, '2019-06-25', 'open_session'], [4, 3, '2019-06-25', 'end_session']]
activity = pd.DataFrame(data, columns=['user_id', 'session_id', 'activity_date', 'activity_type']).astype({'user_id':'Int64', 'session_id':'Int64', 'activity_date':'datetime64[ns]', 'activity_type':'object'})

In [99]:
import pandas as pd
from pandas import to_datetime

def user_activity(activity: pd.DataFrame) -> pd.DataFrame:
    
    # filter the dates first
    activity = activity[activity['activity_date'].between('2019-06-28', '2019-07-27')]

    # doing a group by dates
    activity = activity.groupby(['activity_date'])['user_id'].nunique().reset_index()

    activity = activity.rename(columns={"activity_date":"day", "user_id":"active_users"})
    
    return activity

In [100]:
user_activity(activity)

         day  active_users
0 2019-07-20             2
1 2019-07-21             2