# 181. Employees Earning More Than Their Managers

# renaem as Employee
SELECT e.name as Employee

# e and m are shortcuts
FROM Employee e

# joining the employee's manager ID to the employee's id on the right
JOIN Employee m ON e.managerId = m.id

# condition where the salary of the employee is higher than the manager
WHERE e.salary > m.salary

SELECT e.name as Employee
FROM Employee e

# INNER JOIN VS JOIN???? 
JOIN Employee m ON e.managerId = m.id

WHERE e.salary > m.salary

In [1]:
import pandas as pd

data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'managerId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

In [69]:
import pandas as pd

# finding which employee earn more than their boss
def find_employees(employee: pd.DataFrame) -> pd.DataFrame:

    # add in row of salary of manager
    df = pd.merge(employee, 
                          employee, 
                          left_on='managerId', 
                          right_on='id',

                          # suffix is what is added behind to know the difference
                          suffixes=('', '_manager'))
    
    # filtering employee salary > manager salary
    result = df[df['salary'] > df['salary_manager']]

    # syntax for renaming
    # changing from column from 'name' to 'Employee'
    result = result.rename(columns={'name': 'Employee'})

    # returning only the column called '
    return result[['Employee']]

In [70]:
find_employees(employee)

  Employee
0      Joe

# retry

In [ ]:
# what is the difference between 
df = employee

# the other is a series
print(type(df['name']))

# and
# one is a dataframe
print(type(df[['name']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [105]:
import pandas as pd

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    # append itself with itself
    df = employee.merge(employee, how='left',left_on='managerId',right_on='id')

    # finding the condition where x is more than y
    df_new = df[df["salary_x"] > df["salary_y"]]

    # rename and need to reassign the df
    # renaem from 'name_x' to 'Employee
    df_new = df_new.rename(columns={'name_x': 'Employee'})

    # return only the name
    return df_new[['Employee']]

In [106]:
find_employees(employee)

  Employee
0      Joe

# Write your MySQL query statement below
SELECT e.name as 'Employee'
FROM Employee e

# JOIN together with ON
JOIN Employee m ON e.managerID = m.id
WHERE e.salary > m.salary

In [28]:
# REDO
import pandas as pd

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    
    # doing a left join
    employee = employee.merge(employee, how='left', left_on='managerId', right_on='id')

    # salary x more than salary 
    employee = employee[employee['salary_x']>employee['salary_y']]

    # do a rename
    employee = employee.rename(columns={"name_x": "Employee"})

    # then do a sort
    return employee[["Employee"]]

In [29]:
find_employees(employee)

  Employee
0      Joe