# 183. Customers Who Never Order

In [2]:
import pandas as pd

data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

In [17]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    # join both
    df = customers.merge(orders, how='left', left_on='id', right_on='customerId')

    # filtering customers that did not order anything BOO
    df = df[df['id_y'].isna()]
    
    # renaming
    df = df.rename(columns={'name':'Customers'})

    return df[['Customers']]

In [21]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:

    # Select the customers whose 'id' is not present in the orders DataFrame's 'customerId' column.

    # the syntax format is ~ flips all boolean
    # because I am finding all customers that are NOT IN rather than in
    df = customers[~customers['id'].isin(orders['customerId'])]

    # renaming
    df = df.rename(columns={'name':'Customers'})
    
    return df

In [22]:
find_customers(customers, orders)

   id Customers
1   2     Henry
3   4       Max