# 511. Game Play Analysis I

# Write your MySQL query statement below
# neseted select
SELECT new_table.player_id, new_table.event_date as first_login

FROM (
SELECT player_id , event_date 
FROM Activity
GROUP BY player_id, event_date
ORDER BY player_id, event_date ASC
) new_table

GROUP BY player_id

# using MIN function to get the minimum latest date

SELECT player_id, MIN(event_date) as first_login
FROM Activity
GROUP BY player_id

In [1]:
import pandas as pd

data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [ ]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:

    # do a group by
    # doing a group by player_id based on the minimum event_date
    df = activity.groupby(['player_id'])['event_date'].min()
    
    # create a dataframe to put it back in
    answer = pd.DataFrame({"player_id":df.index, "first_login":df.values})

    return answer

In [65]:
# using reset index in
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:

    dataframe = activity.groupby(['player_id'])['event_date'].min()

    answer = pd.DataFrame(dataframe)

    answer = answer.rename(columns={"event_date": "first_login"})
    
    return answer.reset_index()

In [52]:
# using aggregated data so dont need to put back into a DF
def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:

    # do a group by
    # doing a group by player_id based on the minimum event_date
    df = activity.groupby(['player_id']).agg(first_login = ('event_date', 'min'))
    return df.reset_index()

In [7]:
game_analysis(activity)

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02