In [ ]:
# 577. Employee Bonus

-- Write your PostgreSQL query statement below
SELECT e.name, b.bonus
FROM Employee e
LEFT JOIN Bonus b ON e.empId = b.empId
WHERE b.bonus < 1000 or b.bonus is NUll

In [1]:
import pandas as pd

data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype({'empId':'Int64', 'name':'object', 'supervisor':'Int64', 'salary':'Int64'})
data = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data, columns=['empId', 'bonus']).astype({'empId':'Int64', 'bonus':'Int64'})

In [35]:
import pandas as pd

def employee_bonus(employee: pd.DataFrame, bonus: pd.DataFrame) -> pd.DataFrame:
    
    # I want to keep all employees in so I do a left join
    df = employee.merge(bonus, how='left', left_on='empId', right_on='empId')

    df = df[(df['bonus']<1000) | (df['bonus'].isna())]
    return df[['name', 'bonus']]

In [36]:
employee_bonus(employee, bonus)

   name  bonus
0  Brad   <NA>
1  John   <NA>
2   Dan    500