# 584. Find Customer Referee

In [54]:
import pandas as pd

data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})

In [52]:
import pandas as pd

def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:

    # including both customers without refereee from 2 and empty
    df = customer[(customer['referee_id']!=2) | (customer['referee_id'].isna())]
    
    return df[['name']]

In [53]:
find_customer_referee(customer)

   name
0  Will
1  Jane
3  Bill
4  Zack

-- Write your PostgreSQL query statement below
SELECT c.name
FROM Customer c

# is NULL to add empty null values in too
WHERE c.referee_id != 2 or c.referee_id is NULL

In [ ]:
# REDO
import pandas as pd

def find_customer_referee(customer: pd.DataFrame) -> pd.DataFrame:

    # or cant be used have to diedie use '|'
    customer = customer[(customer['referee_id']!=2) | (customer['referee_id'].isna()) ]
    return customer[["name"]]

In [79]:
find_customer_referee(customer)

   id  name  referee_id
0   1  Will        <NA>
1   2  Jane        <NA>
3   4  Bill        <NA>
4   5  Zack           1