# 586. Customer Placing the Largest Number of Orders

```sql

-- Write your MySQL query statement below
SELECT customer_number
FROM Orders
GROUP BY customer_number    
ORDER BY COUNT(customer_number) DESC
LIMIT 1

In [1]:
import pandas as pd

data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [20]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    
    # creating a groupby for each customer_number with count
    df = orders.groupby(['customer_number'])['order_number'].count()

    # put back into dataframe
    df = pd.DataFrame(df)

    # format bak the index
    df = df.reset_index()

    #order by
    df = df.sort_values(by='order_number', ascending=False)   

    return df[['customer_number']][:1]

In [21]:
largest_orders(orders)

   customer_number
2                3