# 596. Classes With at Least 5 Students

-- Write your PostgreSQL query statement below
-- Write a solution to find all the classes that have at least five students.
SELECT c.class
FROM Courses c
GROUP BY c.class
HAVING count(c.class) >= 5

In [1]:
import pandas as pd

data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

In [19]:
import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:

    # do a group by
    # use size isntead of count
    counter = courses.groupby('class').size()

    # doing the filter
    # index to remove the count
    counter = counter[counter>=5].index

    # recreate the dataframe
    answer = pd.DataFrame({"Class": counter})

    return answer

In [20]:
find_classes(courses)

  Class
0  Math