# 607. Sales Person

```sql

-- USE INNTER JOIN WHEN THERE IS A PRIMARY KEY BEING INVOVLED

-- SELECT ALL SALES PERSON THAT DID NOT APPEAR IN
SELECT s.name
FROM SALESPERSON s
WHERE s.sales_id NOT IN 
    (
    -- THis query here searches for sales person with an order with the RED company
    SELECT o.sales_id
    FROM Orders o
    JOIN Company c ON o.com_id  = c.com_id 
    WHERE c.name = 'RED'
)

SELECT s.name
FROM SalesPerson s
WHERE s.sales_id NOT IN (
    SELECT o.sales_id
    FROM Orders o
    <!-- # THis cant be done becuase its an assumptiont that RED is alwasy having a com_id of 1 -->
    WHERE c.com_id = '1'
)

In [1]:
import pandas as pd

data = [[1, 'John', 100000, 6, '4/1/2006'], [2, 'Amy', 12000, 5, '5/1/2010'], [3, 'Mark', 65000, 12, '12/25/2008'], [4, 'Pam', 25000, 25, '1/1/2005'], [5, 'Alex', 5000, 10, '2/3/2007']]
sales_person = pd.DataFrame(data, columns=['sales_id', 'name', 'salary', 'commission_rate', 'hire_date']).astype({'sales_id':'Int64', 'name':'object', 'salary':'Int64', 'commission_rate':'Int64', 'hire_date':'datetime64[ns]'})
data = [[1, 'RED', 'Boston'], [2, 'ORANGE', 'New York'], [3, 'YELLOW', 'Boston'], [4, 'GREEN', 'Austin']]
company = pd.DataFrame(data, columns=['com_id', 'name', 'city']).astype({'com_id':'Int64', 'name':'object', 'city':'object'})
data = [[1, '1/1/2014', 3, 4, 10000], [2, '2/1/2014', 4, 5, 5000], [3, '3/1/2014', 1, 1, 50000], [4, '4/1/2014', 1, 4, 25000]]
orders = pd.DataFrame(data, columns=['order_id', 'order_date', 'com_id', 'sales_id', 'amount']).astype({'order_id':'Int64', 'order_date':'datetime64[ns]', 'com_id':'Int64', 'sales_id':'Int64', 'amount':'Int64'})

In [ ]:
import pandas as pd

def sales_person_fn(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:

        # creating an inner join for company and order
        df = company.merge(orders, on='com_id')

        # sales id that have orders with RED
        filter = df[df['name'] == 'RED']
        
        # retrieving the names
        ans = sales_person[~sales_person['sales_id'].isin(filter['sales_id'])]
        
        return ans[['name']]

In [49]:
sales_person_fn(sales_person, company, orders)

   name
1   Amy
2  Mark
4  Alex

In [22]:
# REDO
import pandas as pd

def sales_person_fn(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    # retrieve the peeps id that has work with RED before
    filter = company.merge(orders, on='com_id')

    # finding all peeps that did not work in red , however this assumption is that every single one has a sales before
    # therefore the better method is to find out who has worked with RED before
    filter = filter[filter['name']=='RED']

    # trying to find all workers that are not in this list
    # ~ represents a not so it changes from 'is in' to 'is not in'
    answer = sales_person[~sales_person['sales_id'].isin(filter['sales_id'])]

    return answer[['name']]

In [23]:
sales_person_fn(sales_person, company, orders)

   name
1   Amy
2  Mark
4  Alex