# 608. Tree Node

the eelemtnts to be printed
COMMA IS NEEDED AT THE END FOR THE CASE TO WORK

```sql
SELECT DISTINCT t1.id,

-- case to decide what is printed
    CASE
        WHEN t1.p_id IS NULL THEN 'Root'
        WHEN t2.p_id is NULL THEN 'Leaf'
        ELSE 'Inner'
    END AS TYPE
-- 'TYPE' will be the new column that is created from the CASE

FROM Tree t1

-- matching the parent node to the kid

LEFT JOIN Tree t2 ON t1.id = t2.p_id 
;

In [1]:
import pandas as pd

data = [[1, None], [2, 1], [3, 1], [4, 2], [5, 2]]
tree = pd.DataFrame(data, columns=['id', 'p_id']).astype({'id':'Int64', 'p_id':'Int64'})

In [ ]:
import pandas as pd
import numpy as np

def tree_node(tree: pd.DataFrame) -> pd.DataFrame:
    
    # do a left join first
    # the current's node id to the kid's node id (by using parent_id)
    join = tree.merge(tree, how='left', left_on='id', right_on='p_id')

    # creating a case in pandas
    # np.where(condition, value_if_true, value_if_false)

    # creating a new column
    join['type'] = np.where(
        join['p_id_x'].isna(), "Root",
        np.where(
            join['id_y'].isna(), "Root",
            "inner"
        )

    )

    # I have to remove duplicate

    # then rename

    return join[]

In [27]:
tree_node(tree)

   id_x  p_id_x  id_y  p_id_y   type
0     1    <NA>     2       1   Root
1     1    <NA>     3       1   Root
2     2       1     4       2  inner
3     2       1     5       2  inner
4     3       1  <NA>    <NA>   Root
5     4       2  <NA>    <NA>   Root
6     5       2  <NA>    <NA>   Root