# 610. Triangle Judgement

In [ ]:
-- Triangle line is: Lenth of one line is less than sum of lenth 2 others lines.

-- Write your PostgreSQL query statement below
SELECT *,
CASE
    WHEN x < (y+z) AND y < (x+z) AND z < (x+y) THEN 'Yes'
    ELSE 'No'
END as triangle 
FROM Triangle

In [3]:
import pandas as pd

data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})

In [ ]:
import pandas as pd

def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:

    # creating a new columns
    # axis is to say to perform that function for each row
    triangle['triangle'] = triangle.apply(is_valid, axis=1)
    return triangle

# creating a function to check for vlaid triangle
def is_valid(row):

    x = row['x']
    y = row['y']
    z = row['z']

    if x < (y+z) and y < (x+z) and z < (x+y):
        return "Yes"
    else:
        return "No"

In [37]:
triangle_judgement(triangle)

    x   y   z triangle
0  13  15  30      Yes
1  10  20  15      Yes