# 620. Not Boring Movies

In [2]:
import pandas as pd

data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2], [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype({'id':'Int64', 'movie':'object', 'description':'object', 'rating':'Float64'})

In [72]:
# how to sort
cinema = cinema[cinema["id"]%2!=0]
cinema = cinema.sort_values(by='id', ascending=False)
cinema

   id       movie  description  rating
4   5  House card  Interesting     9.1
2   3       irish       boring     6.2
0   1         War     great 3D     8.9

In [ ]:
import pandas as pd

def not_boring_movies(cinema: pd.DataFrame) -> pd.DataFrame:
    # retrieving only odd
    cinema= cinema[cinema["id"]%2!=0]

    # filtering out values with boring in the description
    cinema = cinema[cinema["description"]!='boring']

    # sorting the values descending by the rating
    cinema = cinema.sort_values(by='rating', ascending=False)

    return cinema

In [74]:
not_boring_movies(cinema)

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9

# SQL TIME
SELECT *
FROM cinema c
# usese the same idea as python to find odd and even
WHERE c.id%2 !=0 and description != 'boring'

# ORDER by to do DESC or ASC then remmebr to not put ' around column name
ORDER BY rating DESC

In [ ]:
import pandas as pd

def not_boring_movies(cinema: pd.DataFrame) -> pd.DataFrame:
    
    # brackets are needed for each condition
    cinema = cinema[(cinema['description']!='boring') & (cinema['id']%2 != 0)]

    # REMEMBER IT IS A SORT_VALUES
    cinema = cinema.sort_values('rating', ascending=False)
    return cinema

In [41]:
not_boring_movies(cinema)

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9