# THE INSERT STATEMETN IS TO INSERT one or more rows into a table

# the structure is 'INSERT INTO' table_name (cols_1, cols_2, cols_3)
#   VALUES (val_1, val_2, val_3),......

INSERT INTO bank_accounts (id, account_type, balance)
VALUES (1, 'checking', 1000),
      (2, 'savings', 2000),
      (3, 'cd', 3000),
      (4, 'money_market', 4000);

# if you insert into only one cols of the table, the rest will be NULL UNLESSS
# there are constraints made for the col such as it must it being a NON NULL

INSERT INTO products (id, name) VALUES 
    (1, 'Apple'),
    (2, 'Banana'),
    (3, 'Orange');

# output
id	name	stock
1	'Apple'	    0
2	'Banana'	0
3	'Orange'	0

# INSERTING ARRAY

-- Do not modify above this line --
INSERT INTO stocks (id, name, transaction_dates) VALUES
    (1, 'AAPL', ARRAY['2007-02-09', '2007-02-10', '2007-02-11']::DATE[]),
    (2, 'GOOG', ARRAY['2004-12-15', '2004-12-16']::DATE[]);

# formatting for inserting array with date datatype is
ARRAY [this is the array]::DATE[]

# is not its just
ARRAY [thisis the arrya]

# Insert Constraints
# if it violates the ENUM such as it needing to be one of the 3 strings 
# or if it does not have a name
# or if no id
# or if the age is younger than 18

# an error will appear such as
null value in column "id" of relation "users" violates not-null constraint

CREATE TYPE status AS ENUM ('active', 'inactive', 'pending');

CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER CHECK (age >= 18),
    status status
);